.back-button {
  display: inline-block;
  position: fixed;
  left: 50px;
  bottom: 50px;
}

.requests-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.request-card {
  margin: 20px;
  width: 300px;
}
