.add-item-button {
  display: inline-block;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 999;
}

.project-cards-container{
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  margin: 20px;
  width: 300px;
  cursor: pointer;
}
